
.carousel-inner{
    height: 700px;
    width: 700px;
}

.stars{
    margin: 10px 10px;
    
  
 }


footer {
    /* display: flex;
    /* flex-flow: row wrap;
    padding: 50px; */ 
    color: #fff;
    background-color: rgb(5, 5, 43);
    }